body {
    background-color: #ddd;
    color: #222;
    font-family: Helvetica;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

#logo {
	display: block;
    position:absolute;
    z-index:2;
    float:right;
    top:1px;
    right:10px;
}

#cover {
    float: left;
    margin-right: 10px;
}

.title {
	color: #222;
    background-color: #FFF;
    border: 1px solid #999;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    padding: 12px 10px;
    margin: 0px 0px 0px 108px;
    text-align: center;
    height: 120px;
    width: 197px;
    vertical-align: middle;
    display: table-cell;
}

#bookTitle {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px 2px 0px #fff;
}

.author {
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0px 2px 0px #fff;
}

#header {
	display: block;
    background-color: #ccc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
    border-color: #666;
    border-style: solid;
    border-width: 0 0 1px 0;
    position:absolute;
    width: 100%;
    top:0;
    left:0;
    z-index:2;
}

#header h1 {
    color: #222;
    font-size: 18px;
    font-weight: bold;
    margin: 0 1px;
    padding: 12px 65px 12px 65px;
    text-align: center;
    text-shadow: 0px 1px 0px #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 0px;
}

ul li a {
    background-color: #FFF;
    border: 1px solid #999;
    color: #222;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -1px;
    padding: 12px 10px;
    text-decoration: none;
}

ul li:first-child a {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

ul li:last-child a {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

ul li a:active {
    background-color:blue;
    color:white;
}

.updateDate {
	font-size: 12px;
}

#wrapper {
	position:relative;	/* needed */
	z-index:1;			/* needed and important */
	width:320px;
	height:465px;		/* needed */
	overflow:hidden;	/* suggested */
}

#content {
    padding: 0 10px;
    text-shadow: 0px 1px 0px #fff;
    margin: 55px 0 0 0;
    float:left;
	width:300px;
}

#progress {
    -webkit-border-radius: 10px;
    background-color: rgba(0,0,0,.7);
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 80px;
    left: 60px;
    line-height: 80px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 120px;
    width: 200px;
    z-index: 200;
}

#backButton {
	z-index: 3;
    font-weight: bold;
    text-align: center;
    line-height: 28px;
    color: white;
    text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
    position: absolute;
    top: 9px;
    left: 10px;
    max-width: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-width: 0 8px 0 14px;
    -webkit-border-image: url(../images/back.png) 0 8 0 14;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#search {
	font-size: 18px;
}