#jqt * {
	font-family: "Helvetica Neue", Helvetica;
}

#jqt p {
    margin-top: 10px;
    margin-bottom: 5px;
}

#home p {
    margin: 10px 10px 5px 10px;
}

#jqt ul li, #jqt ul li a {
	color: #222;
	display: list-item;	
}

div#jqt .toolbar > h1 {
    font-size: 18px;
}

#jqt .toolbar.tabbar {
    position: absolute;
    overflow: hidden;
    z-index: 3;
    left: 0px;
    top: 412px;
    background: #000 url(../images/tabbar.png) repeat-x;
    height: 48px;
    width: 100%;
    padding: 0px; 
    border-bottom: 1px solid #000;
}

#jqt .toolbar.tabbar a {
    margin: 0px 1px 0px 1px;
}

#jqt.landscape .toolbar.tabbar {
    position: absolute;
    overflow: hidden;
    z-index: 3;
    left: 0px;
    top: 252px;
    background: #000 url(../images/tabbar.png) repeat-x;
    height: 48px;
    width: 100%;
    padding: 0px 2px 0px 2px; 
    border-bottom: 1px solid #000;
}

.logo {
	display: block;
    position:absolute;
    z-index:2;
    float:right;
    top:1px;
    right:10px;
}

#cover {
    float: left;
    margin-right: 10px;
}

.title {
	color: #222;
    background-color: #FFF;
    border: 1px solid #999;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    padding: 12px 10px;
    margin: 0px 0px 0px 108px;
    text-align: center;
    height: 144px;
    width: 197px;
    vertical-align: middle;
    display: table-cell;
}

#bookTitle {
    font-size: 17px;
    font-weight: bold;
    text-shadow: 0px 2px 0px #fff;
}

.author {
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0px 2px 0px #fff;
}

#expandDesc {
	font-weight: bold;
}

.updateDate, .currentPosition, .favorite {
	font-size: 13px;
}

.playEpisode {
	font-size: 14px;
}

.episode {
    background: url('../images/chevron_circle.png');
    background-position: center right;
    background-repeat: no-repeat;
}

.toolbar {
    z-index: 2;	
}


.bookDetail, #embed {
	padding: 10px 10px 10px 10px;
}

#jqt .bookDetail ul {
	margin: 15px 0px 17px 0px;	
}

.complete {
    background-color: rgb(220,220,220);
}

.progress {
    -webkit-border-radius: 10px;
    background: null;
    background-color: rgba(67,81,100,.8);
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 80px;
    left: 60px;
    line-height: 80px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 120px;
    width: 200px;
    z-index: 200;
}

.confirm {
    -webkit-border-radius: 10px;
    background: null;
    background-color: rgba(67,81,100,.8);
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 110px;
    line-height: 50px;
    left: 25px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 120px;
    width: 270px;
    z-index: 200;
}

.confirm .yes, .confirm .no {
    -webkit-border-radius: 6px;
    background-color: rgba(67,81,100,.9);
    color: white;
    line-height: 3em;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    width: 100px;
    z-index: 201;
}

.confirm .yes {
    float: left;
    margin-left: 25px;
}

.confirm .no {
    float: right;
    margin-right: 25px;
}

#searchForm input {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.vertical-scroll {
	height: 367x;
}

.landscape .vertical-scroll {
	height: 230px;
}

.vertical-scroll.search {
	height: 323px;
}

.landscape .vertical-scroll.search {
	height: 185px;
}

#jqt ul.edgetoedge {
    border-width: 1px 0;
    margin: 0;
    padding: 0;
}
#jqt ul.edgetoedge li {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#ffffff));
    border-bottom: 2px solid #bbbbbb;
    border-top: 1px solid #dddddd;
    font-size: 18px;
    margin-bottom: -1px;
}

#jqt ul.edgetoedge li em {
    font-weight: normal;
    font-style: normal;
}